%h1.effective-admin-heading= @page_title

-# - api = EffectiveLearndash.api

-# - if api.blank?
-#   = card('Connect to Learndash') do
-#     = render('connect')

-# - if api.present?
-#   = card('Courses') do
-#     = render('courses', api: api)
