%table.table.effective-learndash-courses-table
  %tbody
    %tr
      %th Regular Price
      %td= price_to_currency(learndash_course.regular_price)
    %tr
      %th Discounted Price
      %td= price_to_currency(learndash_course.member_price)

    - if learndash_course.body.present?
      %tr
        %th Description
        %td= learndash_course.body
