- learndash_user = current_user.try(:learndash_user)
- authorized = learndash_user && EffectiveResources.authorized?(self, :show, learndash_user)

%h2 Courses

- if learndash_user.blank?
  %p You do not have an account to access courses. When you are enrolled in a course, your account credentials will be displayed here.

- if learndash_user.present? && authorized
  - learndash_user.refresh!

  %p Your course account credentials are:

  %ul
    %li
      %strong Username:
      #{learndash_user.username}
    %li
      %strong Password:
      #{learndash_user.password}

  %p= link_to('Sign in to your course account', EffectiveLearndash.learndash_url, target: '_blank', class: 'btn btn-primary')

  - if learndash_user.learndash_enrollments.present?
    - datatable = EffectiveResources.best('EffectiveLearndashEnrollmentsDatatable').new(self)
    = render_datatable(datatable, simple: true)

  - else
    %p You are not enrolled in any courses.
