= effective_form_with(model: [:admin, learndash_user], engine: true) do |f|

  = f.select :owner, {'Owners' => current_user.class.sorted }, polymorphic: true,
    hint: 'Create a LearnDash account for this user'

  = f.submit
