- if owner.learndash_user.blank?
  %p #{owner} does not yet have an account on LearnDash.

- if owner.learndash_user.present?
  = render('admin/learndash_users/learndash_user', learndash_user: owner.learndash_user)
