= effective_form_with(model: [:admin, learndash_enrollment], engine: true) do |f|
  = f.select :learndash_course_id, Effective::LearndashCourse.all.deep.sorted
  = f.select :learndash_user_id, Effective::LearndashUser.all.deep.sorted

  = f.submit
